<h1><a href="/links">Links</a></h1>
<div id="links">
<% @links.each do |link| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link.title %></h3>
      </div>
    <div class="panel-body">
      <img class="img-thumbnail" src="<%= link.image %>" alt="">
    </div>  
    <div class="panel-body">
      <%= link.description %>
    </div>  
    <div class="panel-footer">
      <% link.tags.map do |tag| %>
        <a href="/tags/<%= tag.name %>"><span class="label label-default"><%= tag.name %></span></a>
      <% end %>
      <a href="<%= link.url %>" class="btn btn-primary btn-xs visit-url" role="button" target="_/blank">Visit</a>
      <a href="/links/delete/<%= link.id %>" class="btn btn-danger btn-xs visit-url" role="button" target="_/blank">Delete</a>
    </div>
  </div>
</div>
<% end %>
</div>